/.build
/Website
/packages

/*.txt
/*.dgml
/*.user
/*.suo

**/obj/
**/bin/

Modules/dnnGlimpse/install/
Modules/dnnGlimpse/icons/dnnGlimpse.cpt
Modules/dnnGlimpse/web.Debug.config
Modules/dnnGlimpse/web.Release.config
Modules/dnnGlimpse/web.config
