<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="9.3.0" targetFramework="net451" />
  <package id="DotNetNuke.Web" version="9.3.0" targetFramework="net451" />
  <package id="DotNetNuke.Web.Client" version="9.3.0" targetFramework="net451" />
  <package id="Glimpse" version="1.8.6" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.WebForms" version="1.1.1" targetFramework="net40" requireReinstallation="true" />
  <package id="MSBuildTasks" version="1.4.0.61" targetFramework="net40" />
</packages>